#randArrButton {
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 10vw;
    height: 7vh;
    left: 45vw;
}

#textOutput {
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 10vh;
    width: 20vw;
    left: 40vw;
}