.inputElems {
    position: relative;
    width: auto;
}

#dateAlertButton {
    justify-content: center;
    text-align: center;
    height: 7vh;
    margin-left: 36vw;
}

#datePageButton {
    justify-content: center;
    position: relative;
    text-align: center;
    width: auto;
    height: 7vh;
    margin-left: 1vw;
}

#timeTypeDrop {
    position: relative;
    width: auto;
    margin-left: 1vw;

}

#textOutput {
    position: relative;
    top: 2vh;
    width: auto;
}

#textOutput > *{
    text-align: center;
}