#gl-canvas{
    border-style: solid;
    border-color: blue;
    border-width: 3px;
    position: relative;
    width: auto;
    top: 2vh;
    left: 32vw;
    margin-bottom: 2vh;
}

#sliderContainer{
    position: relative;
    width: auto;
    left: 45vw;
}